# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# ruff
.ruff_cache/

# MacOS files
.DS_Store

# Visual Studio Code
.vscode/

# version fixing
# ignored as the local development environment is not compatible with linux GPUs
uv.lock